body {
  margin: 0;
  font-family: 'Baloo 2', cursive;
  background-color: #31312fa5;
  text-align: center;
}

/* otra fuente para invocar */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
